"*":
  "atom-ide-ui":
    "atom-ide-code-format": {}
    "atom-ide-diagnostics-ui":
      showDiagnosticTraces: true
  "autocomplete-plus":
    confirmCompletion: "tab"
    enableAutoActivation: false
  core:
    disabledPackages: [
      "vim-mode-plus"
      "linter"
      "atom-ide-ui"
      "ide-flowtype"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.pyc"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 11
    preferredLineLength: 100
  "exception-reporting":
    userId: "c48ac152-7102-ae12-c9d6-2aafd0240b51"
  "ide-flowtype":
    tryFlowBin: true
  "linter-ui-default":
    panelHeight: 300
  "prettier-atom":
    formatOnSaveOptions:
      showInStatusBar: true
      whitelistedGlobs: [
        "*.js"
      ]
    prettierOptions:
      printWidth: 100
      singleQuote: true
      trailingComma: "es5"
    useEditorConfig: false
    useEslint: true
  "reason-refmt":
    useLinter: false
  "tree-view":
    hideIgnoredNames: true
  "vim-mode-plus":
    incrementalSearch: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
