"*":
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnType: false
    "atom-ide-diagnostics-ui":
      showDiagnosticTraces: true
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab"
    defaultProvider: "Symbol"
    enableExtendedUnicodeSupport: true
    strictMatching: true
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.insert-mode.replace"
    ]
  core:
    disabledPackages: [
      "autoflow"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.pyc"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 11
    preferredLineLength: 100
    showInvisibles: true
  "exception-reporting":
    userId: "c48ac152-7102-ae12-c9d6-2aafd0240b51"
  "ide-flowtype":
    autoDownloadFlowBinaries: false
    tryFlowBin: true
  "linter-ui-default":
    panelHeight: 81
  "markdown-preview":
    breakOnSingleNewline: true
  mprettier: {}
  "reason-refmt":
    useLinter: false
  "spell-check":
    locales: [
      "en-US"
    ]
  "status-bar": {}
  "tree-view":
    hideIgnoredNames: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    incrementalSearch: true
    keymapPToPutWithAutoIndent: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".java.source":
  editor:
    tabLength: 4
