'atom-text-editor.vim-mode-plus.normal-mode':
  'ctrl-w x': 'paner:exchange-pane-stay'
  'ctrl-w K': 'paner:move-pane-to-very-top'
  'ctrl-w J': 'paner:move-pane-to-very-bottom'
  'ctrl-w H': 'paner:move-pane-to-very-left'
  'ctrl-w L': 'paner:move-pane-to-very-right'
  'ctrl-w s': 'paner:split-pane-down-stay'
  'ctrl-w v': 'paner:split-pane-right-stay'

  '\\ p': 'prettier:format'
